.fish__name {
    font-size: 20px;
    text-decoration: underline;
}

.fish__image {
   display: flex;
   border-radius: 25px;
   max-width: 300px;
   
}

.fish__card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
    transition: 0.3s;
    border-radius: 25px;
}


    
    
    
    



